version: "3.7"

services:

    rabbitmq:
        build: ./rabbitmq
        hostname: localhost
        container_name: rabbitmq
        restart: always
        ports:
            - "15672:15672"
            - "5672:5672"
            - "1883:1883"
        volumes:
            - ./rabbitmq-isolated.conf:/etc/rabbitmq/rabbitmq.config
            

    db_module_rfid:
        image: levakuz/dodo_db_mqtt_rabbit:1.2
        hostname: localhost
        restart: always
        command: python3 Bd_write.py
        depends_on:
            - rabbitmq

    module_rfid_resender:
        image: levakuz/dodo_db_mqtt_rabbit:1.12
        hostname: localhost
        restart: always
        command: python3 rfid_mqttt_sender.py
        depends_on:
            - rabbitmq

    dodo_mongo:
        image: mongo
        hostname: localhost
        restart: always
        command: [--auth]
        ports:
            - "2717:27017"
            - "28017:28017"
        volumes:
            - ~/dodo_mongo:/data/db
        depends_on:
            - rabbitmq

    db-geodata:
        image: postgres:alpine
        hostname: localhost
        container_name: db-geodata
        restart: always
        environment:
            - 'POSTGRES_USER=geodata'
            - 'POSTGRES_DB=db_geodata_service'
            - 'POSTGRES_PASSWORD=geodata'
        volumes:
            - ~/geodata/data:/var/lib/postgresql/data
        depends_on:
            - rabbitmq
            
    api-geodata:
        image: loborit/dodo-api-geodata-service:0.3.10
        hostname: localhost
        container_name: api-geodata
        restart: always
        depends_on:
            - rabbitmq
            - db-geodata

    gql-geodata:
        image: loborit/dodo-gql-geodata-service:0.2.4
        hostname: localhost
        container_name: gql-geodata
        restart: always
        ports:
            - "15031:15031"
        depends_on:
            - rabbitmq

    tms-geodata:
        image: loborit/dodo-tile-map-service:0.1.3
        hostname: localhost
        container_name: tms-geodata
        restart: always
        ports:
            - "15032:15032"
        depends_on:
            - rabbitmq

    ui-geodata:
        image: loborit/dodo-monitoring-ui-service:0.4.1
        hostname: localhost
        restart: always
        ports:
            - "15033:15033"
        depends_on:
            - rabbitmq
        
    parser:
        image: nameless05105/parser:1.2-p
        hostname: localhost
        restart: always
        depends_on:
            - rabbitmq

    cashbox:
        image: nameless05105/cashbox:1.6
        hostname: localhost
        restart: always
        ports:
            - "3001:3000"
        depends_on:
            - rabbitmq

    cashbox-server:
        image: nameless05105/cashbox-server:1.4
        hostname: localhost
        restart: always
        ports:
            - "3031:3031"
            - "8090:8090"
        depends_on:
            - rabbitmq
